body {
	font-family: sans-serif;
}

#cnumber{
	color:white ;
	position: sticky ;
	top :0;
	z-index: 10 ;
}
.no {
	background-color:#804000;
	padding: 10px 10px ;
}
.no li {
	padding-left: auto ;
	padding-right: auto;
}

#nav-bar  {
	background: transparent;
	height: 00px ;
	display: flex;
	justify-content :center ;
	align-items:center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar{
	background: #804000;
	
}
.navbar-brand  {
       color: #fff !important ;
        font-weight: 600 ;
         font-size : 40px ;
       padding-left: 30px ;
      
 }
 
 .navbar-nav li {
 padding: 0 10px ;
 }
 
 .navbar-nav li a {
 color: #ffffff!important ;

 font-weight: 600 ;
 float: right;
 }
 
 .fa-bars {
 color: #fff ;
 font-size: 30px !important;
 }
 
 
 .navbar-toggler {
 outline: none ;
 }
 
 .continer img{
 height: 280px ;
 width: 100% ;
 }
 .container{
 top:-50px;
 display: flex;
 flex-wrap: wrap ;
 jastify-content:space-between;
 }
 .container .box {
 position: relative;
 width:350px;
 padding: 40px;
 background: #fff ;
 box-shadow: 0 5px 15px rgba(0,0,0,.1);
 border-radius: 4px;
 margin: 20px;
 box-sizing: border-box;
 overflow: hidden;
 text-align: center;
 }
 .container .box .icon {
 position: relative;
 width: 80px;
 height: 80px;
 color: #fff;
 background: #000;
 display: flex;
 justify-content:center;
 align-items:center ;
 margin: 0 auto ;
 border-radius: 50% ;
 font-size: 40px;
 font-weight: 700;
 transition:1s;
 }
 .container .box:nth-child(01) .icon{
 box-shadow: 0 0 0 0 #e91e63;
 background: #e91e63;
 }
 .container .box:nth-child(01):hover .icon{
 box-shadow: 0 0 0 400px #e91e63;
 }
 .container .box:nth-child(02) .icon{
 box-shadow: 0 0 0 0 #00ff00;
 background: #00ff00;
 }
  .container .box:nth-child(02):hover .icon{
 box-shadow: 0 0 0 400px #00ff00;
 }
 .container .box:nth-child(03) .icon{
 box-shadow: 0 0 0 0 #00ffff;
 background: #00ffff;
 }
  .container .box:nth-child(03):hover .icon{
 box-shadow: 0 0 0 400px #00ffff;
 }
 .container .box .content{
 position: relative;
 z-index: 1;
 transition:0.5s;
 }
 .container .box:hover .content{
 color: #fff;
 }
 .container .box:hover .content h3{
 font-size: 20px;
 margin: 10px 0;
 padding: 0;
 }
 .container .box:hover .content p{
 margin: 0;
 padding: 0;
 }
 
 #announcements{
 background-size: cover ;
 background-position: center;
 color: black  !important;
 background-attachment: fixed;
 }
 
 #announcements h1{
 background-size:cover;
 background-position: center;
 color: black; !important ;
 text-align: center ;
 background-attachment: fixed; 
 }
 
 #announcements h1::after {
 content: '';
 background: #000000 ;
 display: block;
 border-radius :50px;
 height: 3px ;
 width: 170px ;
 margin: 20px auto 5px ;
 }
